@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

$main-bg-color: #f1f2f0;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;

body {
  @extend .container;

  background-color: $main-bg-color;
  color: $accent-black;
  display: flex;
  justify-content: center;

}

.calculator {

  @extend .well;
  @include make-row();
  @include make-md-column(6);
  @include make-md-column-offset(3);

  margin-top: 50px;

  .display {
    @include make-xs-column(12);

    input {
      @extend .form-control;

      &[readonly] {
        background-color: white;
      }
    }
  }

  #buttons {
    div {
      @include make-xs-column(3);
    }

    button {
      @extend .btn;
      @extend .btn-lg;
      @extend .btn-default;

      @extend .form-control;

      margin-top: 30px;
      padding: 5px 16px;

      &.operation {
        @extend .btn-info;

        &[name='equals'] {
          @extend .btn-success;
        }
        &[name='clear'] {
          @extend .btn-danger;
        }
      }
    }
  }

}
